<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.17.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/12.17.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyD-b-zv3xoKec3fyqs1m3hYiuW3PyDZgGk",
    authDomain: "shopflow-2511.firebaseapp.com",
    projectId: "shopflow-2511",
    storageBucket: "shopflow-2511.firebasestorage.app",
    messagingSenderId: "687383759812",
    appId: "1:687383759812:web:471f75f71540210426b291",
    measurementId: "G-V6TRLKKB5R"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>